{% extends "base2.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Nombre de Usuario</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
    Script que se ejecuta cuando la página ha cargado completamente. 
    Se encarga de redirigir al usuario a la página principal después de enviar el formulario.
-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Selecciona el formulario de la página.
        const form = document.querySelector("form");

        // Agrega un evento que escucha cuando el formulario es enviado.
        form.addEventListener("submit", function () {
            // Redirige a la página principal después del envío del formulario.
            window.location.href = "{% url 'principal' %}";
        });
    });
</script>

{% endblock %}
