{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Perfil</h2>

    <form method="POST" class="card p-4">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            {{ form.first_name }}
        </div>
        
        <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label for="id_alert_price" class="form-label">Precio de alerta</label>
            {{ form.alert_price }}
        </div>

        <div class="mb-3">
            <label for="id_alert_cripto" class="form-label">Criptomoneda de alerta</label>
            {{ form.alert_cripto }}
        </div>

        <div class="mb-3">
            <label for="id_receive_alerts" class="form-label">Recibir alertas</label>
            {{ form.receive_alerts }}
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>

    <!-- logout -->
    <form action="{% url 'logout' %}" method="post" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cerrar sesión</button>
    </form>
</div>
<!-- 
    Script para verificar alertas de criptomonedas periódicamente. 
    Hace una solicitud a la API para comprobar si se deben enviar notificaciones al usuario.
-->
<script>
    function verificarAlertas() {
        // Realiza una solicitud GET a la URL "/verificaralerta/" para comprobar alertas
        fetch("/verificaralerta/", { method: "GET" })
            .then(response => response.json()) // Convierte la respuesta a JSON
            .then(data => console.log("Verificación completada:", data)) // Muestra el resultado en la consola
            .catch(error => console.error("Error verificando alertas:", error)); // Manejo de errores
    }

    // Ejecuta la función verificarAlertas cada 60 segundos (1 minuto)
    setInterval(verificarAlertas, 60000);
</script>



{% endblock %}
